/**
 * Widget de Pedidos - Melhor Bocado
 * Estilos Premium - Modularizado
 */

/* Importação de Módulos */
@import url("modules/_variables.css");
@import url("modules/_reset.css");
@import url("modules/_scrollbar.css");
@import url("modules/_buttons.css");
@import url("modules/_forms.css");
@import url("modules/_modals.css");
@import url("modules/_cart.css");
@import url("modules/_alerts.css");
@import url("modules/_tabs.css");
@import url("modules/_cards.css");
@import url("modules/_footer.css");
@import url("modules/_layout.css");
@import url("modules/_header.css");
@import url("modules/_client.css");
@import url("modules/_custom-select.css");
@import url("modules/_utilities.css");
@import url("modules/_address.css");
@import url("modules/_products.css");
@import url("modules/_modal-entrega.css");
@import url("modules/_modal-sucesso.css");
@import url("modules/_order-listing.css");
@import url("modules/_modal-visualizar.css");
@import url("modules/_discounts.css");

/* Responsividade Global */
@import url("modules/_responsive.css");
